.celebration-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid #ff2753;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 1000;
  }
  
  .celebration-popup h2 {
    margin: 0;
    font-size: 2rem;
    color: #ff2753;
  }
  
  .celebration-popup p {
    margin: 10px 0 0;
    font-size: 1.2rem;
    color: #585e71;
  }
  